body {
    font-family: 'Joan', serif;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../img/j.jpg");
}

div {
    margin-top: 16%;
}

form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ti {
    font-size: 33px;
    color: rgb(248, 242, 242);
    font-weight: 900;
}

#ciudad {
    font-size: 20px;
}

.mayor {
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    font-weight: 900;
    color: rgb(248, 242, 242);
}

.btton {
    margin-top: -18px;
}

.rr {
    font-weight: 900;
    color: rgb(248, 242, 242);
}